
@media (min-width: 576px) {
	.jumbotron {
	    padding: 1rem 2rem;
	}	
}

.jumbotron {
	border-radius: 0px;
}

.bucket-img {
	max-width: 100px;
}

.bucket-count {
    background: #0275d8;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    color: white;
    font-size: 0.75rem;	
}

.my-group button {
    padding: 0.25rem;
    line-height: 10px;
}

#bucket-alert {
    display: none;
}

strong {
    font-weight: 600 !important;
}

span.active {
    color: #0275d8;
}

.font-small {
    font-size: 0.8rem;
}

.card-title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
}