<section>
	<h5>Корзина</h5>
	<hr>
	<p ng-show="main.bucket < 1">Ваша корзина пуста</p>
	<p ng-show="main.bucket.length > 0">Товаров в корзине: {{main.bucket.length}}</p>
	<button ng-show="main.bucket.length > 0" class="btn btn-sm btn-primary" ng-click="main.update()">Подтвердить покупки</button>
	<button ng-show="main.bucket.length > 0" class="btn btn-sm btn-danger" ng-click="main.clear()">Очистить корзину</button>
	<div id="bucket-alert" class="alert alert-success" role="alert">
		<strong>Отлично!</strong> База данных будет обновлена, а корзина очищена.
	</div>	
	<hr>
	<div class="row">
		<div class="col-12" ng-repeat="product in main.bucket track by $index">
			<div class="media p-3">
				<img class="d-flex mr-4 bucket-img" ng-src="{{product.text ? '../img/box-grey.png' : '../img/box-grey-text.png'}}" style="background-color: {{product.color}}" alt="Box">
				<div class="media-body">
					<h5 class="mt-0 card-title">{{product.name}} <span class="text-muted" ng-if="product.bought">({{product.bought}})</span></h5>
					<p class="mb-0">{{product.about}}</p>
					<hr>
					<div class="d-inline-block pr-3">
						<p class="mb-0">Цена: <span class="text-muted">${{product.price}}</span></p>
						<p class="mb-0"><strong>Цена всего:</strong> <span class="text-muted">$<span class="text-primary">{{product.price * product.bought}}</span></span></p>
					</div>
					<div class="d-inline-block px-3">
						<p class="mb-0">В наличии: <span class="text-primary">{{product.count - product.bought}}</span></p>
						<p class="mb-0 d-inline-block">В корзине: <span class="text-primary">{{product.bought}}</span></p>
						<button type="button" ng-disabled="product.count - product.bought == 0" class="btn btn-secondary btn-sm" ng-click="main.bucketAdd(product.index);"><strong>+</strong></button>
						<button type="button" ng-disabled="product.bought == 0" class="btn btn-secondary btn-sm" ng-click="main.bucketAdd(product.index, true);"><strong>–</strong></button>						
					</div>
					<p class="text-danger" ng-click="main.removeProduct(product.index)">Удалить</p>
				</div>
			</div>			
		</div>
	</div>	
</section>