<section>
	<h5>Магазин по продаже разноцветных коробочек :)</h5>
	<hr>
	<span><strong>Сортировка:</strong></span>
	<span ng-class="{'active': main.sortType == 'name'}" ng-click="main.sortType = 'name'; main.sortReverse = !main.sortReverse">название,</span>
	<span ng-class="{'active': main.sortType == 'price' && main.sortReverse}" ng-click="main.sortType = 'price'; main.sortReverse = true">дорогие,</span>
	<span ng-class="{'active': main.sortType == 'price' && !main.sortReverse}" ng-click="main.sortType = 'price'; main.sortReverse = false">дешевые,</span>
	<span ng-class="{'active': main.sortType == 'index' && main.sortReverse}" ng-click="main.sortType = 'index'; main.sortReverse = true">новые,</span>
	<span ng-class="{'active': main.sortType == 'index' && !main.sortReverse}" ng-click="main.sortType = 'index'; main.sortReverse = false">старые,</span>
	<span ng-class="{'active': main.sortType == 'color'}" ng-click="main.sortType = 'color'; main.sortReverse = !main.sortReverse">цвет,</span>
	<span ng-class="{'active': main.sortType == 'text' && !main.sortReverse}" ng-click="main.sortType = 'text'; main.sortReverse = false">с текстом,</span>
	<span ng-class="{'active': main.sortType == 'text' && main.sortReverse}" ng-click="main.sortType = 'text'; main.sortReverse = true">без текста</span>
	<div class="input-group">
	  <span class="input-group-addon font-small" id="basic-addon">Поиск по названию</span>
	  <input type="text" class="form-control font-small" placeholder="{{main.products[main.randomness()].name}} .. etc." aria-describedby="basic-addon" ng-model="main.search">
	</div>	
	<hr>
	<p ng-if="!main.products">Данные о товарах загружаются..</p>
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" ng-repeat="product in main.products | filter: main.search | orderBy:main.sortType:main.sortReverse">
		<!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" ng-repeat="product in main.products | filter: main.search | orderBy:main.sortType:main.sortReverse track by $index"> -->
			<div class="card mb-3">
				<div class="w-50 ml-auto mr-auto mt-3">
					<img class="img-fluid" ng-style="product.count - product.bought == 0 && {'opacity':'0.5'} || {'opacity':'1'}" ng-src="{{product.text ? '../img/box.png' : '../img/box-text.png'}}" style="background-color: {{product.color}}" alt="Box">
				</div>
				<div class="card-block">
					<h4 class="card-title text-center">{{product.name}}</h4>
					<p class="card-text text-muted">{{product.about}}</p>
					<hr>
					<p class="card-text mb-0"><small>В наличии: <span ng-class="{'text-danger': product.count - product.bought == 0}">{{product.count - product.bought}}</span></small></p>
					<p class="card-text mb-0">Цена: <span class="text-muted">$<span class="text-primary">{{product.price}}</span></span></p>
					<hr>
					<a href="#" ng-hide="product.bought || product.exist" class="btn btn-secondary btn-sm" ng-click="main.bucketAdd(product.index);">Добавить в корзину</a>
					<a href="#" ng-show="product.bought" class="btn btn-success btn-sm" ng-click="main.bucketAdd(product.index);">Добавлено</a>
					<span ng-show="product.bought"> <a ui-sref="bucket">+{{product.bought}}</a></span>
					<a href="#" ng-show="product.bought" class="d-block pl-3 text-danger" ng-click="main.bucketAdd(product.index, true);"><small>Убрать</small></a>
				</div>
			</div>	
		</div>		
	</div>
</section>